{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <!-- 사용자 오류 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ question.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2 text-left">
                    <div class="mb-2">{{ question.author.username }}</div>
                    <div>{{ question.create_date }}</div>
                </div>
            </div>
            {% if request.user == question.author %} <!-- 로그인한 사용자와 질문 작성자가 같으면 -->
            <div class="my-3">
                <a href="{% url 'movie:question_modify' question.id %}" class="btn btn-sm btn-outline-warning">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-warning" data-uri="{% url 'movie:question_delete' question.id %}">삭제</a>
            </div>
            {% endif %}
        </div>
    </div>
    <h5 class="border-bottom my-3 py-2">{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
    {% for answer in question.answer_set.all %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2 text-left">
                    <div class="mb-2">{{ question.author.username }}</div>
                    <div>{{ answer.create_date }}</div>
                </div>
            </div>
            {% if request.user == answer.author %} <!-- 로그인한 사용자와 답변 작성자가 같으면 -->
            <div class="my-3">
                <a href="{% url 'movie:answer_modify' answer.id %}" class="btn btn-sm btn-outline-info">수정</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <form action="{% url 'movie:answer_create' question.id %}" method="post" class="my-3">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="content"
                      class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-outline-info">
    </form>
</div>
{% endblock %}
<!-- 삭제 시 삭제하겠냐고 한번 더 확인여부 묻는 자바스크립트 부분 -->
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}